<div fxLayout="column" fxLayoutGap="10px">
  <div class="full-width" fxLayout="row" fxLayoutGap="10px">
    <div class="full-width" fxLayoutAlign="start center" fxLayoutAlign.lt-sm="center center">
      <input class="buscar" type="text" name="Procurar" placeholder="Procurar.." [formControl]="searchField">
    </div>
  </div>
  
  <mat-card>
    <div class="loading-shade" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>
    <div class="table-container">
      <table matSort>
        <thead>
          <tr>
            <th mat-sort-header="name">Nome</th>
            <th mat-sort-header="path">Caminho</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of data; index as i">
            <td>{{row?.name}}</td>
            <td>
              <a class="path" *ngFor="let item of row?.path; index as j" (click)="openDialog(row?.path, j)">
                /{{item}}
              </a>
            </td>
            <td>
              <div fxLayoutAlign="end">
                <button mat-icon-button (click)="download(row)" matTooltip="Download">
                  <mat-icon> cloud_download </mat-icon>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <mat-paginator [length]="resultsLength" [pageSize]="30" [pageSizeOptions]="[30,50,100,200,500]">
      </mat-paginator>
    </div>
  </mat-card>
</div>
